.card {
    background: #C4C4C4;
    border-radius: 18px;
    position: relative;
    width: 260px;
    height: 176px;
}

.cardInfo {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 12px;
    bottom: 8px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
    padding: 16px;
    left: 8px;
    position: absolute;
    width: 244px;
    height: 82px;
}