.container {
	background: #090919;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	min-height: 100vh;
	padding: 12px;
	padding-bottom: 92px;
	width: 100%;
}

.backgroundImage {
	width: 327px;
	height: 220px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	border-radius: 20px;
}

.playerButtons {
	display: flex;
	gap: 16px;
	align-items: center;
	justify-content: center;
}
